@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #ffffff;
   --foreground: #171717;
   --bg-primary: rgb(241, 245, 249);
   --bg-secondary: rgb(229, 231, 235);
   --primary-color: rgb(168, 85, 247);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

.text-primary {
   color: var(--primary-color);
}
.bg-primary {
   background: var(--primary-color);
}

.bg-body-primary {
   background: var(--bg-primary);
}

.bg-body-primary-gradient {
   background: var(--bg-primary);
   background: linear-gradient(0deg, rgba(241, 245, 249, 1) 75%, rgba(255, 0, 0, 0) 100%);
}

html {
   scroll-behavior: smooth;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   max-width: 1400px;
}

.content {
   max-width: 1024px;
}

.pdf-viewer {
   .controls {
      opacity: 0;
      transition: opacity 250ms;
   }

   &:active .controls,
   &:hover .controls {
      opacity: 1;
   }
}

.pdf-container {
   &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      &-track {
         background: transparent;
      }

      &-thumb {
         background: transparent;
      }
   }

   &:hover::-webkit-scrollbar {
      &-thumb {
         background: #bebebe;
      }
      &-thumb:hover {
         background: #555;
      }
   }
}

.scroller[data-animated='true'] {
   -webkit-mask: linear-gradient(90deg, transparent, white 6%, white 94%, transparent);
   mask: linear-gradient(90deg, transparent, white 6%, white 94%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
   animation: scroll 120s linear infinite;
}

@keyframes scroll {
   to {
      transform: translate(calc(-50% - 0.5rem));
   }
}

.hero__content {
   position: relative;
   // background: #ebcece;
   background: rgba(255, 255, 255, 0.75);
   border-radius: 25% 25% / 50% 50%;

   &::before {
      display: block;
      position: absolute;
      content: '';
      width: 60%;
      height: 60%;
      --bg-color: rgb(233, 209, 209, 0.64);
      --bg-color: rgba(218, 209, 233, 0.63);
      right: -4%;
      bottom: -12%;
      background: var(--bg-color);
      background: radial-gradient(circle, var(--bg-color) 0%, rgba(255, 255, 255, 0) 50%);
   }

   &_main > section,
   &_main > p,
   &_main > a,
   &_main > div {
      z-index: 1;
   }
}
